input[type=submit]{
  background-color: #06a7e6;
  border: none;
  color: white;
  padding: 4px 8px;
  text-decoration: none;
  margin: 2px 1400px;
  cursor: pointer;
  border-radius: 15%;
}
.section {
    position: relative;
    height: 100vh;
  }
  .section .section-center {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  footer{
    text-align: center;
    background: #008080;
    height: 10%;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .heading{
    
    text-align:center;
    background: rgba(47, 103, 177, 0.6);
  }
  
  .heading h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
  }
  
  .heading h1 :hover{
    color: beige;
  }
  #booking {
    font-family: "Montserrat", sans-serif;
    background-image: url("/img/barber.jpg");
    background-size: cover;
    background-position: center;
  }
  .message{
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    font-weight: 700;
  }
  #booking::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(47, 103, 177, 0.6);
  }
  
  .booking-form {
    background-color: #fff;
    padding: 50px 20px;
    -webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
  }
  
  .booking-form .form-group {
    position: relative;
    margin-bottom: 30px;
  }
  
  .booking-form .form-control {
    background-color: #ebecee;
    border-radius: 4px;
    border: none;
    height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #3e485c;
    font-size: 14px;
  }
  
  .booking-form .form-control::-webkit-input-placeholder {
    color: rgba(62, 72, 92, 0.3);
  }
  
  .booking-form .form-control:-ms-input-placeholder {
    color: rgba(62, 72, 92, 0.3);
  }
  
  .booking-form .form-control::placeholder {
    color: rgba(62, 72, 92, 0.3);
  }
  
  .booking-form input[type="date"].form-control:invalid {
    color: rgba(62, 72, 92, 0.3);
  }
  
  .booking-form select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  .booking-form select.form-control + .select-arrow {
    position: absolute;
    right: 0px;
    bottom: 4px;
    width: 32px;
    line-height: 32px;
    height: 32px;
    text-align: center;
    pointer-events: none;
    color: rgba(62, 72, 92, 0.3);
    font-size: 14px;
  }
  
  .booking-form select.form-control + .select-arrow:after {
    content: "\279C";
    display: block;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
  .booking-form .form-label {
    display: inline-block;
    color: #3e485c;
    font-weight: 700;
    margin-bottom: 6px;
    margin-left: 7px;
  }
              h2.confirmation {
                display: inline-block;
                color: #d8dce4;
                border: 3px solid #f1f1f1;
                padding-top: 20px;
                padding-bottom: 20px;
                padding-left: 20px;
                padding-right: 20px;
                background-color: rgb(0,0,0); 
                background-color: rgba(0,0,0, 0.4); 
                font-weight: 700;
                margin-left: 7px;
                margin-top: 30%;
                margin-bottom: 100px;
              }
            
              body.confirmation{
                background-image: url("/img/background.jpg");
                /* filter: blur(8px);
                -webkit-filter: blur(8px); */
                background-size: cover;
                font-size: 14px;
                background-position: center;
                color: lightgray;
                text-align: center;
          }

  
  .h2 {
    display: inline-block;
    color: #3e485c;
    font-weight: 700;
    margin-bottom: 6px;
    margin-left: 7px;
  }
  
  .booking-form .submit-btn {
    display:inline-flex;
    color: #fff;
    background-color: #1e62d8;
    font-weight: 700;
    padding: 14px 30px;
    border-radius: 4px;
    border: none;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }

  .form-button {
    display:inline-flex;
    color: #fff;
    background-color: #1e62d8;
    font-weight: 700;
    padding: 14px 30px;
    border-radius: 4px;
    border: none;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  
  .booking-form .submit-btn:hover,
  .booking-form .submit-btn:focus {
    opacity: 0.9;
  }
  
  .booking-cta {
    margin-top: 80px;
    margin-bottom: 30px;
  }
  
  .booking-cta h1 {
    font-size: 52px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
  }
  
  .booking-cta p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
  }

  .nav{
    min-height: 10vh;
    background-color: #008080;
    color: white;
    display: flex;
    align-items: right;
  }
  a:link {
      color: white;
    
    }
    
    a:visited {
      color:aqua;
    }
    
    a:hover {
      color: hotpink;
    }
    
    a:active {
      color: blue;
    }
    h5{
      align-items: right;
    }