<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Confirm Reservation</title>
      <style>
                      
              footer{
                    text-align: center;
                    background: rgba(47, 103, 177, 0.6);
                    height: 10%;
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
              h2 {
                display: inline-block;
                color: #d8dce4;
                font-weight: 700;
                margin-left: 7px;
                margin-top: 70px;
                margin-bottom: 70px;
              }
               body{
                  background-color: darkslategrey;
                  color: lightgray;
                  text-align: center;
            }
      </style>
</head>
<body>
      <h2>Successully Made your reservation</h2>
      <br>

      Service booked: {{service}} <br>
      <br>
      <br>
      Date: {{date}}  <br>  
      <br>
      <br>  
           
</body>
 <footer>
        Designed by Collins, William & Caesar
</footer>
</html>